body{
    background-color: black;
    color: white;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
}
img{
    width: 20%;
}
.Container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.grid{
   
}